<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reproductor HLS con hls.js</title>

    <!-- Incluye la biblioteca hls.js desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const video = document.getElementById('video');
            const source = '{{.Path}}'; // Ruta dinámica del servidor al .m3u8

            if (Hls.isSupported()) {
                const hls = new Hls();
                hls.loadSource(source);
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED, () => {
                    video.play();

                    video.addEventListener('loadedmetadata', () => {
                        // Saltar a un tiempo aleatorio después de cargar metadata
                        const randomTime = Math.floor(Math.random() * video.duration);
                        video.currentTime = randomTime;
                    });
                });

                hls.on(Hls.Events.ERROR, (event, data) => {
                    console.error("HLS error:", data);
                });
            }
            else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = source;
                video.addEventListener('loadedmetadata', () => {
                    const randomTime = Math.floor(Math.random() * video.duration);
                    video.currentTime = randomTime;
                });
            }
            else {
                console.error("HLS no soportado.");
            }

            video.addEventListener('ended', () => {
                location.reload();
            });
        });
    </script>
</head>
<body>
    <video id="video" width="640" height="360" controls autoplay controlsList="nodownload"></video>
</body>
</html>
